node_modules/
.cache/
artifacts/
cache/
coverage/
coverage.json

.env
.env.local
*.log
06 480-SC-Project-Handout-S26.txt
Captchalogue-Overview.txt

.states/

frontend/dist/

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
